<!DOCTYPE html>
<html>

<head>
    <title>PHP4RASP - Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="AFKL">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">PHP4RASP - Dashboard</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!-- 侧边栏 -->
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">仪表盘</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="rasp-log.html">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">日志查询</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                        data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">RASP操作</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="ip-controller.html">IP访问控制</a>
                        </li>
                        <li>
                            <a href="file-controller.html">文件执行白名单</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                    <a class="nav-link" href="users.html">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">用户管理</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="help">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">帮助</span>
                    </a>
                </li>
            </ul>

            <!-- 侧边栏收起图标 -->
            <ul class="bg-success navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>

            <!-- 顶部 -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a id="login-username" class="nav-link" href="/user.html">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>

            </ul>

        </div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">PHP4RASP</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> 日志记录
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <th>id</th>
                                <th>pid</th>
                                <th>time</th>
                                <th>function</th>
                                <th>args</th>
                                <th>normalized_args</th>
                                <th>filename</th>
                                <th>lineno</th>
                                <th>context</th>
                                <th>type</th>
                                <th>request_uri</th>
                                <th>remote_addr</th>
                                <th>query_string</th>
                                <th>document_root</th>
                                <th>hook_point</th>
                            </thead>
                            <tfoot>
                                <th>id</th>
                                <th>pid</th>
                                <th>time</th>
                                <th>function</th>
                                <th>args</th>
                                <th>normalized_args</th>
                                <th>filename</th>
                                <th>lineno</th>
                                <th>context</th>
                                <th>type</th>
                                <th>request_uri</th>
                                <th>remote_addr</th>
                                <th>query_string</th>
                                <th>document_root</th>
                                <th>hook_point</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="update-time" class="card-footer small text-muted"></div>
            </div>

            <hr />

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © PHP4RASP - Dashboard 2023</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.js"></script>
    <script src="/script/script.js"></script>

    <script type="module">
        import { CONFIG } from "./script/config.js";
        var url = CONFIG.DASHBOARD_API_URL;
        import { init_table } from "./script/table.js";
        import { show_username } from "./script/user.js";
        import { UPDATE_TIME_STR } from "./script/time.js";

        $.ajax({
            url: `${url}/api/user/info`,
            type: 'GET',
            success: function (data) {
                if (data["status"] == 200) {
                    show_username(data["data"]["username"]);
                } else {
                    show_username("USERNAME");
                }
            },
            error: function () {
                show_username("USERNAME");
            }
        });

        $("#update-time").text(UPDATE_TIME_STR);

        $.ajax({
            url: `${url}/api/log/alarm`,
            type: 'GET',
            success: function (resp_data) {
                if (resp_data["status"] == 200) {

                    var data = resp_data["data"];

                    init_table('#dataTable', data, {
                        columns: [
                            { data: 'id' },
                            { data: 'pid' },
                            { data: 'time' },
                            { data: 'function' },
                            { data: 'args' },
                            { data: 'normalized_args' },
                            { data: 'filename' },
                            { data: 'lineno' },
                            { data: 'context' },
                            { data: 'type' },
                            { data: 'request_uri' },
                            { data: 'remote_addr' },
                            { data: 'query_string' },
                            { data: 'document_root' },
                            { data: 'hook_point' },
                        ],
                    });
                } else {
                    alert("获取数据失败！");
                }
            },
            error: function () {
                alert("获取数据失败！");
            }
        });
    </script>

</body>

</html>